@charset "UTF-8";
/*这是所有弹出框的样式，因为我们弹出框的总体样式大体是一样的*/
.no-resize {
    resize: none;
}

.err-info {
    color: red;
    font-size: 10px;
    font-family: "Micro YaHei";
}

/*createActivity.jsp所特有的css*/
input.set-height {
    height: 34px;
}
/*createActivity.jsp所特有的css*/

/*createGroup.jsp所特有的css*/
.file {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 12px;
    overflow: hidden;
    color: #666;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.file input {
    position: absolute;
    font-size: 20px;
    right: 0;
    top: 0;
    opacity: 0;
}

.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.text-red {
    color : red;
}
/*createGroup.jsp所特有的css*/

/*groupApplyMemberManager.jsp所特有的css*/
#group-apply-member-manager-table .operation {
    width: 85px;
}
/*groupApplyMemberManager.jsp所特有的css*/

/*groupMemberManager.jsp所特有的css*/
#group-member-manager-table td {
    line-height: 35px;
    height:35px;
}
#group-member-manager-table td img {
    width:35px;
    height:35px;
    border-radius: 100%;
}
/*groupMemberManager.jsp所特有的css*/

/*groupApplyMemberManager.jsp所特有的css*/
#group-apply-member-manager-table td {
    height: 40px;
    line-height: 40px;
}
/*groupApplyMemberManager.jsp所特有的css*/

.create-activity-size {
    width: 700px;
    min-height: 300px;
    border:none;
}

.create-situation-size {
    width: 700px;
    min-height: 600px;
    border:none;
}

.create-group-size {
    width:465px;
    min-height: 545px;
    border:none;
}

.login-register-dialog-size {
    width: 450px;
    min-height: 240px;
    border:none;

}

.modify-password-size {
    width: 500px;
    min-height: 300px;
    border:none;
}

.join-group-size {
    width:400px;
    min-height: 300px;
    border:none;
}
.group-apply-member-manager-size {
    width:1200px;
    min-height: 550px;
    border: none;
}
.group-member-manager-size {
    width: 800px;
    /*min-height: 550px;*/
    min-height: 500px;
    border: none;
}
.publish-notice-size {
    width:400px;
    min-height:320px;
    border:none;
}
.publish-notice-size {
    width:400px;
    min-height:320px;
    border:none;
}
