.bottom {
    clear: both;
}
body,div,span,ul,li,input,img {
    margin: 0;
    padding: 0;
}
body {
    min-width: 1200px;
}

a {
    text-decoration: none;
}

a:hover {
    color:red;
}

ul {
    list-style: none;
}

* {
    font-family: Microsoft YaHei;
}


.shadow {
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     border-radius: 8px;
     -webkit-box-shadow: #666 0px 0px 10px;
     -moz-box-shadow: #666 0px 0px 10px;
     box-shadow: #666 0px 0px 10px;
 }

.person_display {
    position: relative;
    height: 192px;
}
.picture_top_content {
    position: relative;
    height: 100%;
    width: 1024px;
    border:1px solid red;
    margin: 0 auto;
}
.head_picture {
    position: absolute;
    left: 112px;
    top:17%;
    width: 192px;
    height: 192px;
    border-radius: 100%;
}
.basic_info {
    position: absolute;
    color:white;
    left: 360px;
    top: 56px;
}
.basic_info .username {
    font-size: 32px;
    line-height: 1.5em;
}
.basic_info .gender {
    width: 16px;
    height: 16px;
    margin-bottom: 3px;
    line-height: 0px;
}
.age,.province {
    margin-left: 16px;
}

.basic_info .introduce {
    line-height: 48px;
    color:#ccc;
}
.my_group {
    position:absolute;
    color:white;
    right:20%;
    line-height: 10em;
}

.all_content {
    width:1024px;
    height: 40em;
    margin: 4em auto 0;
}

.person_navigation {
    position: relative;
    width: 20%;
    float: left;
    background:rgba(255, 255, 255, 0.5);
}
.nav_ul {
    height: 100%;
    width: 100%;
}
.nav_ul li {
    border-bottom:1px solid white;
    text-align: center;
    line-height: 3.5em;
    height: 10%;
}
.nav_ul li a {
    display: block;
    color:black;
}
.nav_ul li a:hover{
    color:red!important;
}
.navigation_content {
    position: relative;
    width:75%;
    min-height: 90%;
    float: right;
    background:rgba(255, 255, 255, 0.5);
}
.nav_content {
    width: 100%;
    min-height:40em;
    /*border:1px solid red;*/
}
/*start basic information style*/
.modify_headPicture {
    position: relative;
    width: 100%;
    height: 240px;
}

.modify_headPicture img {
    position: absolute;
    top: 16px;
    left: 25%;
    height: 208px;
    width: 208px;
}
.modify_picture_hover:hover {
    background-color: #6cf;
}
.change_picture {
    position: absolute;
    top: 48px;
    width: 10%;
    border:1px solid white;
    border-radius: 3px;
    text-align: center;
    right: 24%;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.upload_picture {
    position: absolute;
    bottom: 48px;
    right: 24%;
    border:1px solid white;
    border-radius: 3px;
    width: 10%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.modify_basic_info {
    position: relative;
    width: 100%;
}
.basic_same_div {
    position: relative;
    width: 70%;
    min-height: 2.5em;
    margin: 1em auto;
    line-height: 2.5em;
}

.basic_info_label {
    margin-left: 75px;
}

.introduce_label{
    margin-left: 75px;
    position:relative;
    top:15px;
}

.name {
    margin-left: 2em;
    height: 2em;
    font-size: 1em;
    width: 55%;
    padding-left: 0.5em;
    border-radius: 4px;
}
.age_input {
    margin-left: 3em;
    height: 2.0em;
    font-size: 1em;
    width: 55%;
    padding-left: 0.5em;
    border-radius: 4px;
}
.wechat_input {
    margin-left: 3em;
    height: 2.0em;
    font-size: 1em;
    width: 55%;
    padding-left: 0.5em;
    border-radius: 4px;
}

div .gender {
    margin-left: 3em;
    font-size: 1em;
}

.department {
    margin-left: 2.8em;
    width: 25%;
    font-size:1em;
}
.major {
    margin-left: 36px;
    width: 25%;
    font-size:1em;
}

.person_introduce {
    margin-left: 1em;
    resize: none;
    height: 5em;
    padding-left: 0.5em;
    width: 55%;
    font-size: 1em;
    border-radius: 4px;
}

.confirm_modify {
    width: 15%;
    height:32px;
    line-height: 32px;
    color: white;
    text-align: center;
    margin: 0.5em auto;
    border-radius: 4px;
    background-color: #6cf;
    cursor: pointer;
}
.confirm_modify:hover {
    background-color: #09f;
}

/*end of basic information style*/


/*start count style*/
.content_basic_div {
    position: relative;
    margin:0.5em auto;
    line-height: 1.6em;
    width: 90%;
    min-height: 5em;
    border-bottom:1px solid white;
}
.bind_count {
    margin-top: 2em;
}
.bind_intro {
    color:#0c0;
}
.change_bind{
    position: absolute;
    right: 2.5em;
    top:1em;
    border:1px solid white;
    text-align: center;
    min-width:4em;
}
.change_bind a {
    display: block;
    color:black;
}
.change_bind a:hover {
    background-color: #6cf;
    color:black;
}

.other_count {
    width: 25%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 5%;
    height:15em;
    background-color: #ccc;
    float: left;
    border-radius: 5%;
}
.over_hidden {
    overflow: hidden;
}
/*end of count style*/

/*start activity*/
.activity_say {
    position:relative;
    width: 90%;
    min-height: 544px;
    margin: 0 auto;
    /*border:1px solid pink;*/
}

.activity_theme {
    width: 48%;
    float: left;
    min-height:48px;
    line-height: 48px;
}
.activity_theme input {
    min-height: 32px;
    width: 70%;
    margin-left: 16px;
    font-size: 1em;
}
.activity_bean {
    min-height: 48px;
    width: 48%;
    float: left;
    line-height: 48px;
}
.activity_bean select{
    min-height: 32px;
    width: 70%;
    margin-left: 16px;
    font-size: 1em;
}
.activity_end_time {
    clear: both;
    width: 48%;
    min-height:48px;
    line-height: 48px;
}
.activity_end_time input {
    min-height:32px;
    width: 30%;
    margin-left: 11px;
    font-size: 1em;
}
.activity_content {
    width: 100%;
    margin-top: 32px;
    min-height: 368px;
    text-align: center;
    border:1px solid black;
}
.activity_content label{
    display: block;
    font-size: 1em;
    line-height: 2em;
    height: 2em;
    border-bottom:1px solid #ccc;
}

.activity_content textarea {
    resize: none;
    width: 98%;
    height: 368px;
    border:1px solid blue;
}
.out_activity {
    position: absolute;
    bottom: 3.2px;
    left: 48%;
    width: 64px;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #0f3;
    border:1px solid #ccc;

}
.out_activity:hover {
    background-color: #0c3;
}
/*end of activity*/

/*start modify password window*/

.modify_password_nav {
    position: relative;
    width:100%;
    border-bottom: 2px solid #ccc;
    height: 40px;
}
.modify_password_title {
    height: 100%;
    line-height: 40px;
    font-weight: bold;
    width:20%;
    margin-left: 20px;
}
.close_modify_password_icon {
    position:absolute;
    width: 20px;
    height:20px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.close_modify_password_icon:hover {
    color:red;
}
.password_style {
    height: 60px;
    margin: 5px;
}
.float_left {
    width: 55%;
    height:100%;
    float: left;
}
.err_info {
    height: 43%;
    margin-left: 6px;
}
.password_style label {
    float: left;
    font-weight: bold;
    margin-top: 5px;
    width: 87px;
}
.password_style input {
    width: 100%;
    height:50%;
    padding-left: 6px;
    margin-left: 6px;
}
.old_password {
    margin-top: 25px;
}
.old_password label,.new_password label,.confirm_new_password label{
    margin-left: 32px;
}
.old_password label,.new_password label {
    text-align: right;
}
.button_style {
    border: 1px solid #ccc;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align:center;
    border-radius: 2px;
    cursor: pointer;
}
.button_style:hover {
    background-color: #ccc;
}
.confirm_modify_password {
    background-color: #08c;
    position: absolute;
    left: 120px;
    bottom:15px;
}
.cancel_modify_password {
    position: absolute;
    left: 230px;
    bottom:15px;
}
/*end of modify password window*/
