#content-container {
    width: 1024px;
    height: auto;
    margin: 0px auto;
    margin-top: 10px;
}
#personal_lobby {
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}
#personal_container {
    height:auto;
    margin: 0px auto;
    text-align: center;
    overflow:auto;
}

.personal_banner {
    height: 30px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
}

#personal_container_top{
    height:auto;
    text-align: center;
    margin-bottom: 10px;
    overflow:hidden;
}

#personal_container_bottom{
    height: auto;
    text-align: center;
    overflow-y:auto;
    background: rgba(255, 255, 255, 0.5);
}

#personal_msg{
    float:left;
    height:320px;
    padding:10px;
    background: rgba(255, 255, 255, 0.5);
}

#personal_msg_left{
    width:290px;
    height:260px;
    border-right:3px solid rgba(0,0,0,0.4);
    float:left;
}

#personal_msg_center{
    width:382px;
    height:260px;
    border-right:3px solid rgba(0,0,0,0.4);
    float:left;
}

#personal_msg_right{
    width:290px;
    height:260px;
    float:left;
}

/*center*/
#personal_hp{
    float:left;
    margin: 30px 45px;
    width:200px;
    height: 200px;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 2px #aaa;
    -webkit-box-shadow: 0px 2px 2px 2px #aaa;
    -moz-box-shadow: 0px 2px 1px 2px #aaa;
}

.username{
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 3px 1px 1px 1px #ccc;
}

.personal_intro{
    margin-bottom: 10px;
    text-align: center;
}

.personal_message{
    padding:10px;
    text-align: center;
}

.personal_message_banner{
    text-align: center;
    font-size:14px;
    line-height: 14px;
    margin-bottom: 10px;
}

.personal_message_content{
    width:300px;
    height:160px;
    margin:0px auto;
    padding:5px 10px;
    overflow-y: auto;
    border:1px solid #fff;
    border-radius:5px;
}

/*right*/

#personal_msg_right ul{
     margin:20px auto;
     width:300px;
     height:300px;
}

#personal_msg_right ul a li{
    list-style-type: none;
    margin:10px auto;
    font-size: 18px;
    color:#fff;
    height:30px;
    line-height:30px;
    width:80%;
    background:rgba(0,0,0,0.4);
    border-radius:0 15px 15px 0;
}

.go{
    display: inline-block;
    width:50%;
    text-align: right;
}

.in{
    display: inline-block;
    width:50%;
    text-align: right;
    padding-right:20px;
}


